.quiz-container{
  border: 2px outset rgb(255, 254, 253);
  background-color: #fed7bf;
  height: 600px;
  width: 700px;
  position: absolute;
  font-family:'Trebuchet MS';
  font-style: italic;
  font-variant: normal;
  left: 360px;
  bottom: 150px;
  color: black ;
}
.title{
  font-size: 36px;
}
.result{
  font-family: 'Trebuchet MS';
  font-style: italic;
}

.next{
  font-family: 'Trebuchet MS';
  font-style: italic;
}
  
